* {
    padding: 10px;
    background-color: #D1FEFF;
}

h2 {
    text-align: center;
}


.content {
    text-indent: 2em;
}

span {
    color: gray;
    padding: 0px;
}

img {
    width: 222px;
}

.slogan {
    color: green;
    text-align: center;
}

#ol {
    color: red;
}